*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: cadetblue;
    align-items: center;
    /* height: 80px; */
    width: 100%;
}
.navlink ul li{
    display: inline-block;
    padding: 10px 30px;
}
.navlink ul{
    margin-right: 50px;
}

.navlink ul li a{
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.navtitle{
    font-size: 50px;
    font-weight: bolder;
    padding-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navlink ul li:hover{
    background-color: darkolivegreen;
    border-radius: 10px;
}

.toggle-button{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    /* top: 0.75rem; */
    right: 1rem;
    width: 30px;
    height: 21px;
    align-items: center;
    
}

.bar{
    border-radius: 10px;
    background-color: white;
    height: 3px;
    width: 100%;
}

@media (max-width: 800px){
   .navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
    
    
   }
   .navlink ul li{
    display: flex;
    flex-direction: column;
    display: block;
    /* width: 100%; */
    text-align: center;
    
   }
   .navtitle{
    display: flex;
    align-items: flex-start;
    width: 100%;
   }
   .toggle-button{
    display: flex;
    margin: 25px 20px;
   }
   .navlink{
    width: 100%;
    display: none;
   }
   .navlink ul li a{
    padding-top: 40px;
    padding-bottom: 20px;
   }
   .navlink.active{
    display: flex;
    
   }
 
}


